@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");



body {
  background-color: #fdfafb;
  font-family: "Quicksand", sans-serif;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.title {
	margin: 10px 0 0;
	text-align: center;
}

.text {
	margin: 0 0 10px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
	max-width: 1000px;
}

img {
	object-fit: cover;
	margin: 10px;
	height: 300px;
	width: 300px;
	max-width: 100%;
	transition: 0.3s ease;
}
