@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

body {
  background-color: #fdfafb;
  font-family: "Quicksand", sans-serif;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
